* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  font-family: "comic sans ms", sans-serif, serif;
}


.container {
  border: 1px solid black;
  background-color: #909497;
  width: 95%;
  height: 300px;
  font-family: "comic sans ms", sans-serif, serif;
  color: black;
  overflow: auto;
  padding: 5px;
  margin: 10px;
  text-align: left;

}

p{
	position: relative;
	top: 40px;
}
#menu_item_1{
	
	background-color: #F1948A;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	border: 1px solid black;
	width:200px;
	float: right;
	margin-top: -5px;
	margin-right: -5px;
	padding: 2px;
	

	}


#menu_item_2{
	
	background-color: #C0392B;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	border: 1px solid black;
	width:200px;
	float: right;
	margin-top: -5px;
	margin-right: -5px;
	padding: 2px;

	}
	

#menu_item_3{
	
	background-color: #F9E79F;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	border: 1px solid black;
	width:200px;
	float: right;
	margin-top: -5px;
	margin-right: -5px;
	margin-bottom: 0px;
	padding: 2px;
	
	}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
  {
  float: left;
  
  }
  .col-lg-4 {
    width: 33.33%;
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
  {
  float: left;
  
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
 } 

 @media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3,.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 
  {
   float: left;
  
    }
.col-sm-12 {
    width: 100%; 
  }
 } 
